<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<div *ngIf="!notifications || notifications.length == 0" class="spinner">
  <ion-spinner name="lines"></ion-spinner>
</div>
<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button class="white menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Notifications</ion-title>
  </ion-toolbar>
  <ion-toolbar color="mytheme">
    <ion-segment (ionChange)="seg($event)" mode="md" scrollable id="dag">
      <ion-segment-button
        *ngFor="let item of notifTags; let i = index"
        no-margin
        no-padding
        (ionSelect)="update(i)"
        class="my-btn"
        [value]="item.name"
        [ngClass]="{ 'btn-active': segment == item.name }"
      >
        <ion-text padding-horizontal class="text">{{ item.name }}</ion-text>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding-vertical color="light" *ngIf="notifications">
  <ion-slides
    pager="false"
    [options]="slideOpts"
    (ionSlideDidChange)="change()"
    #Slides
  >
    <ion-slide *ngFor="let tag of notifTags">
      <app-list class="notificationCards" [data]="notifications"></app-list>
    </ion-slide>
  </ion-slides>
</ion-content>
