<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-row>
  <ion-col *ngFor="let data of recieved_data" size="6">
    <ion-card class="card" no-margin (click)="open(data)">
      <ion-badge class="badge" *ngIf="data.sale_price"
        >{{ data.sale_price }}%</ion-badge
      >
      <img [src]="data.images[0].src" [alt]="data.name" />
      <ion-card-content>
        <ion-card-title>
          <ion-row>
            <ion-col no-padding>
              <ion-text text-left
                ><span class="price"
                  ><span [innerHTML]="data.price_html"></span
                ></span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-left no-padding>
              <h6 text-left class="subtitle">{{ data.name }}</h6>
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
